:root {
  /***************COLORS**************/
  --color-backgrounds: rgba(212, 228, 228, 0.8);
  --color-score-text:#7b4926f4;
  --color-border-radius:#49704b;
  --color-text:#a8350c;
    
    /***************FONT SIZES**************/
    --font-size-h1: 200px;
    
    /***************FONTS**************/
  
    --font: 'Montserrat';
    
}
body {
    margin: 0;
    font-family:var(--font);
    overflow: hidden;
    background-image: url("./public/img/fondoWinnie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: var(--color-text);
    user-select: none;
    caret-color: transparent;
   
  }

  h1{
    text-shadow: 
    -1px -1px 0 var(--color-border-radius),
    5px -2px 0 var(--color-border-radius),
   -5px  1px 0 var(--color-border-radius),
    1px  5px 0 var(--color-border-radius),
 /* Sombra difuminada para dar profundidad */
   2px 2px 5px rgba(0, 0, 0, 0.5);
}
 

  #score-board {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 400px;
    height: 50px;
    color:var(--color-score-text);
    font-family:var(--font);
    font-size: 20px;
    background: var(--color-backgrounds);
    padding: 10px;
    border: 5px solid var(--color-border-radius);
    border-radius: 20px;
    z-index: 1000;
    caret-color: transparent;
    user-select: none; /* Evita que el texto dentro del contenedor se seleccione */
    outline: none; /* Evita el borde de selección */
  }

  #game-container {
    position:relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 5px solid var(--color-border-radius);
    background: var(--color-backgrounds);
    overflow: hidden;
    border-radius: 30px;
    cursor: none;
  }
  
  .personaje {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url('./public/img/abeja.png');
    background-size: cover;
    background-position: center;
    
  }
  
  .moneda {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('./public/img/miel.png');
    background-size: cover;
    background-position: center;
    
  }
#img{
  height: 100px;
  width: 100px;
}

  #buttonInicio{
    position: absolute;
    top: 60px;
    right: 100px;
    border-radius: 20px;
    background: var(--color-backgrounds);
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 5px solid var(--color-border-radius);

  }
  #buttonSound{
    border-radius: 20px;
    background: var(--color-backgrounds);
    width: 105px;
    height: 105px;
    overflow: hidden;
    border: 5px solid var(--color-border-radius);

  }

  .bArrow{
    border-radius: 20px;
    background: var(--color-backgrounds);
    width: 100px;
    height: 50px;
    overflow: hidden;
    border: 5px solid var(--color-border-radius);
  }
