:root {
    /* --color-bottom-stroke: #D29E2E;
    --color-bottoms: #ffcc66;
    --color-bottoms-light: #FEF5E6;
    --color-background-grey: #C4C4C4;
    --color-background-black: #2B2B2B;
    --color-background-white: #ffffff;
    --color-text-light: #ffffff;
    --color-text-dark: #2B2B2B; */
    /***************FONT SIZES**************/
    --font-size-h1: 100px;
    
    /***************FONTS**************/
    --font-primary: 'Oi';
    
}
body {
    margin: 0;
    font-family:var(--font-primary);
    overflow: hidden;
    background-image: url("./public/img/fondoWinnie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: rgb(40, 165, 123);
  }
  #game-container {
    position:relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid #0f2810;
    background: #91c9d3;
    overflow: hidden;
    border-radius: 30px;
  }
  
  .personaje {
    position: absolute;
    width: 70px;
    height: 70px;
    /* Reemplazamos el color por la imagen del osito */
    background-image: url('./public/img/abeja.png');
    background-size: cover;
    background-position: center;
    /* Eliminamos o ajustamos el borde si no es necesario */
    /* border: 5px solid transparent; */
  }
  
  .moneda {
    position: absolute;
    width: 50px;
    height: 50px;
    /* Reemplazamos el color por la imagen de la margarita */
    background-image: url('./public/img/miel.png');
    background-size: cover;
    background-position: center;
    /* Podemos quitar el box-shadow si no se ajusta al diseño */
    /* box-shadow: none; */
  }